
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavan Shettigar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

</head>
<body>
    <div class="container">

        <br><div class ="row">
            <div class="col-md-3">
                <div class = "card card-body " id="profile-wrapper">
                    <img id="profile-pic" src = "{% static 'images/dp.jpeg' %}" alt="Pic">
                    <hr>
                    <h4>Hi I'm Pavan Shettigar</h4>
                    <p>I love Exploring and collaborating</p>

                </div> 
            </div>      
            <div class="col-md-9">
                <div class= "card card-body ">
                    <h2>About ME:</h2><hr>
                    <p> A dedicated team player and hardworking engineering student, I am passionate about Artificial Intelligence and have focused on AI-related courses and curriculum alongside various software development skills while keeping a close eye on emergent technologies. I am currently seeking a technical role that will enable me to enhance my professional and domain skills and leverage them for the overall benefit of the organization.  </p>
                    <a href ="https://www.linkedin.com/in/pavan-shettigar-1a439b272/" class="link"><h6>Know me more-></h6><img id="linkedin"src="{%  static '/images/linkedin.png' %}"></a>
                    
                </div>       
            </div>
        </div><br>
        <div class ="row">
            <div class="col-md-6">
                <div class = "card card-body ">
                    <h2>My Educational Qualifications </h2><hr>
               <p>Secondary School-Holy Family School Surathkal.</p>
               <p>Senior Secondary -
                Alva’s Pre-University College, Mangalore.</p>
                <p>Bachelors of Engineering – Information Science 2021-2023
                    A.J Institute of Engineering & Technology. (VTU) </p>
                </div> 
            </div>      
            <div class="col-md-6">
                <div class= "card card-body ">
                    <h2>What I  Know</h2>
                    <p>Languages : C, C++, Java, Python, CSS, Javascript,Flutter.
                         <br>Tools : Solid Edge.
                        <br>Interface : HTML</p>
                        <p>Currently working on Django,Selenium,Artificial Intelligence.</p>
                </div>       
           </div>
        </div>   

    </div>        
</body>
</html> 



<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

<h1>JAI SHREE RAM</h1>

 -->