body{background-color: rgba(240, 248, 255, 0.523);}

#profile-pic{
       margin-inline-start: auto;
       margin-inline-end: auto;
        padding: auto;
        width: 140px;
        height: 140px;
        border-radius: 50%;

      
}
#profile-wrapper{text-align: center;}

.link {
        display: flex;
/* Optional: Removes underline from the link */
    }

    #linkedin{height: 25px;}